* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

:root {
  --input-height: 100px;
}

body{
    background-color: #EEF0F5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_card{
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 10%;
    gap: 20px;
}

.main_card select,
.main_card input{
    width: 100%;
    height: var(--input-height);
    border: 1px solid #EEF0F5;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.main_card button{
    width: 60%;
    height: var(--input-height);
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.main_card button,
.main_card select{
    cursor: pointer;
}
.main_card button:hover{
    background-color: #005A9E;
}
